Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/autoregen.sh
/cairo/config.scm
/build-aux/config.guess
/config.h
/config.h.in
/config.log
/config.status
/build-aux/config.sub
/configure
/build-aux/depcomp
/doc/guile-cairo.info
/build-aux/texinfo.tex
/env
/guile-cairo.pc
/guile-cairo/.deps
/guile-cairo/.libs
/guile-cairo/*.x
*.la
*.lo
/build-aux/install-sh
/libtool
/build-aux/ltmain.sh
/build-aux/missing
/stamp-h1
/config.h.in~
