Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/autoregen.sh
/cairo/config.scm
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/guile-cairo.info
/doc/texinfo.tex
/env
/guile-cairo.pc
/guile-cairo/.deps
/guile-cairo/.libs
/guile-cairo/*.x
*.la
*.lo
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
